.content > div:nth-child(even) {
  background: linear-gradient(135deg, #f6d365 0%, rgb(224, 146, 124) 100%);
}

.content > div:nth-child(odd) {
  background: linear-gradient(135deg, #4fc3bc 0%, #7c5a91 100%);
}
