.main {
  background-color: antiquewhite;
  height: 100dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.approvedNames {
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.approvedNames h2 {
  font-size: 28px;
  font-weight: bold;
}

.approvedNames ul {
  list-style: none;
  padding: 0;
  height: 400px;
  width: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    font-size: 20px;
    font-weight: semi-bold;
    margin: 5px 0;
    width: min-content;
    background-color: rgb(191, 228, 217);
    padding: 5px 15px;
    border-radius: 15px;
  }
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

button {
  padding: 10px 20px;
  border: black 1px solid;
  border-radius: 10px;
  font-size: 24px;
}

button:hover {
  cursor: pointer;
}

.yes {
  background-color: rgb(21, 224, 21);
}

.no {
  background-color: rgb(250, 92, 92);
}

.maybe {
  background-color: rgb(242, 242, 79);
}

.yes:hover {
  background-color: rgb(0, 255, 0);
  scale: 1.05;
}

.no:hover {
  background-color: rgb(255, 0, 0);
  scale: 1.05;
}

.maybe:hover {
  background-color: rgb(255, 255, 0);
  scale: 1.05;
}

.approved {
  background-color: rgb(21, 224, 255);
}

.approved:hover {
  background-color: rgb(0, 255, 255);
  scale: 1.05;
}
