.main {
  background-color: antiquewhite;
  height: 100dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

button {
  padding: 10px 20px;
  border: black 1px solid;
  border-radius: 10px;
  font-size: 24px;
}

button:hover {
  cursor: pointer;
}

.yes {
  background-color: rgb(21, 224, 21);
}

.no {
  background-color: rgb(245, 81, 81);
}

.maybe {
  background-color: rgb(242, 242, 79);
}

.yes:hover {
  background-color: rgb(0, 255, 0);
  scale: 1.1;
}

.no:hover {
  background-color: rgb(255, 0, 0);
  scale: 1.1;
}

.maybe:hover {
  background-color: rgb(255, 255, 0);
  scale: 1.1;
}
