html,
body,
:root {
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0;
  padding: 0;
}

p {
  text-wrap: pretty;
}
